{{ include('shared/header.twig') }}

<main class="container">
    <div class="container p-lg-5">
        <div class="py-5 text-center">
            <h2>Create your custom cup below!</h2>
        </div>

        <h3 class="mb-3">Tell us how you flow</h3>
        <form action="." method="post" class="aligned">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="flow">Flow</label>
                    <select class="custom-select d-block w-100" id="flow" name="flow">
                        <option value="">Choose...</option>
                        <option>Light</option>
                        <option>Regular</option>
                        <option>Heavy</option>
                        <option>Very Heavy</option>
                    </select>
                    <div class="empty_field">
                        {{ invalid|e }}
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="cervix">Cervical Length</label>
                    <select class="custom-select d-block w-100" id="cervix" name="cervix">
                        <option value="">Choose...</option>
                        <option>Extra Short</option>
                        <option>Short</option>
                        <option>Average</option>
                        <option>Long</option>
                    </select>
                    <div class="empty_field">
                        {{ invalid|e }}
                    </div>
                </div>
            </div>

            <hr class="mb-4">

            <h3 class="mb-3">Customize Your Cup</h3>

            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="color"> Cup Color</label>
                    <select class="custom-select d-block w-100" id="color" name="color">
                        <option value="">Choose...</option>
                        <option>Pink</option>
                        <option>Red</option>
                        <option>Green</option>
                        <option>Blue</option>
                    </select>
                    <div class="empty_field">
                        {{ invalid|e }}
                    </div>
                </div>

                <div class="form-group col-md-4 mb-3">
                    <label for="string">String Design</label>
                    <select class="form-control" id="string" name="string">
                        <option value="">Choose...</option>
                        <option>Long heart</option>
                        <option>Short heart</option>
                        <option>Long loop</option>
                        <option>Short loop</option>
                        <option>Plain string</option>
                    </select>
                    <div class="empty_field">
                        {{ invalid|e }}
                    </div>
                </div>
            </div>

            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="noPattern" name="pattern" type="radio" class="custom-control-input" checked="">
                    <label class="custom-control-label" for="noPattern">None</label>
                </div>

                <div class="custom-control custom-radio">
                    <input id="polkaDots" name="pattern" type="radio" class="custom-control-input">
                    <label class="custom-control-label" for="polkaDots">Polka-Dots</label>
                </div>

                <div class="custom-control custom-radio">
                    <input id="stripes" name="pattern" type="radio" class="custom-control-input">
                    <label class="custom-control-label" for="stripes">Stripes</label>
                </div>
            </div>

            <hr class="mb-4">

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="accessory">
                <label class="custom-control-label" for="accessory">Check if you would like a cup-carrying pouch</label>
            </div>

            <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit" name="action" value="Show Products">Click to get a cup recommendation</button>
        </form>
    </div>
</main>

{{ include('shared/footer.twig') }}

