{{ include('shared/header.twig') }}
<main class="container p-lg-5 py-5">
    <div class="p-lg-5 py-3">
        <h2>Order History</h2>
        <table class="table">
            {% for order in order_history %}
                <tr>
                    <th>Order #: {{ order.orderID }}</th>
                    <td>Your Unique Cup ID: {{ order.cupID }}</td>
                    <td>{{ order.orderedDate }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</main>
{{ include('shared/footer.twig') }}

