{{ include('shared/header.twig') }}

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="view/images/buttercup logo.png" alt="buttercup logo"/>
            <h3>Sign in to start customizing your cup!</h3>
            <form action="." method="post" class="aligned">
                <div>
                    <input type="text" placeholder="Username" value="" name="login_username"/>
                    <input type="password" placeholder="Password" value="" name="login_password"/>
                </div>
                <input id="login-button" type="submit" name="action" value="Login"/><br/>
            </form>
            <p>{{ login_message|e }}</p>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h3 class="register-heading">Create Your Account</h3>

                <form action="." method="post" class="aligned">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value="{{ first_name|e }}" name="first_name"/>
                                <p>{{ error_first_name|e }}</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="{{ last_name|e }}" name="last_name"/>
                                <p>{{ error_last_name|e }}</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username *" value="{{ new_username|e }}" name="new_username"/>
                                <p>{{ error_username|e }}</p>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="{{ new_password|e }}" name="new_password"/>
                                <p>{{ error_password|e }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email *" value="{{ email|e }}" name="email"/>
                                <p>{{ error_email|e }}</p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Phone" value="{{ phone|e }}" name="phone" />
                                <p>{{ error_phone|e }}</p>
                            </div>
                            <input type="submit" class="btnRegister"  name="action" value="Register"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{ include('shared/footer.twig') }}

